header {
    color: white;
    margin: auto;
    padding: 0;
    
}

h1, h2{
    margin: 0;
}

.upperBox {
    background-color: #8a2b06;
    height: 5rem;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.upperBox h1{
    position: relative;
    left: 3rem;
    top: 1rem;
}

.banner {
    width: 100%;
    height: 25rem;
    background-image: url("./meals.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 150px 150px;
}

.textBox {
    background-color: #383838;
    position: relative;
    top: 17rem;
    margin: auto;
    width: 40%;
    border-radius: 14px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}